Project/src/code.myceliUs.com/CodeGen/input/Config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified"	
	xmlns="http://www.cargowebserver/spec/CARGO/20151213/MODEL"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.cargowebserver/spec/CARGO/20151213/MODEL">

	<xsd:simpleType name="tDataStoreType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SQL_STORE"/>
			<xsd:enumeration value="KEY_VALUE_STORE"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="tDataStoreVendor">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MYCELIUS"/>
			<xsd:enumeration value="MYSQL"/>
			<xsd:enumeration value="MSSQL"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="tEncoding">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="UTF8"/>
			<xsd:enumeration value="WINDOWS_1250"/>
			<xsd:enumeration value="WINDOWS_1251"/>
			<xsd:enumeration value="WINDOWS_1252"/>
			<xsd:enumeration value="WINDOWS_1253"/>
			<xsd:enumeration value="WINDOWS_1254"/>
			<xsd:enumeration value="WINDOWS_1255"/>
			<xsd:enumeration value="WINDOWS_1256"/>
			<xsd:enumeration value="WINDOWS_1257"/>
			<xsd:enumeration value="WINDOWS_1258"/>
			<xsd:enumeration value="ISO8859_1"/>
			<xsd:enumeration value="ISO8859_2"/>
			<xsd:enumeration value="ISO8859_3"/>
			<xsd:enumeration value="ISO8859_4"/>
			<xsd:enumeration value="ISO8859_5"/>
			<xsd:enumeration value="ISO8859_6"/>
			<xsd:enumeration value="ISO8859_7"/>
			<xsd:enumeration value="ISO8859_8"/>
			<xsd:enumeration value="ISO8859_9"/>
			<xsd:enumeration value="ISO8859_10"/>
			<xsd:enumeration value="ISO8859_13"/>
			<xsd:enumeration value="ISO8859_14"/>
			<xsd:enumeration value="ISO8859_15"/>
			<xsd:enumeration value="ISO8859_16"/>
			<xsd:enumeration value="KOI8R"/>
			<xsd:enumeration value="KOI8U"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="configuration" type="tConfiguration"/>
	<xsd:complexType name="tConfiguration" abstract="true">
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	
	<xsd:element name="serverConfiguration" type="tServerConfiguration" substitutionGroup="configuration"/>
	<xsd:complexType name="tServerConfiguration" abstract="false">
		<xsd:complexContent> 
			<xsd:extension base="tConfiguration"> 
				<xsd:attribute name="ipv4" type="xsd:string" />
				<xsd:attribute name="hostName" type="xsd:string" />
				<xsd:attribute name="serverPort" type="xsd:integer" />
				<xsd:attribute name="servicePort" type="xsd:integer" />
				<xsd:attribute name="applicationsPath" type="xsd:string" />
				<xsd:attribute name="dataPath" type="xsd:string" />
				<xsd:attribute name="scriptsPath" type="xsd:string" />
				<xsd:attribute name="definitionsPath" type="xsd:string" />
				<xsd:attribute name="schemasPath" type="xsd:string" />
				<xsd:attribute name="tmpPath" type="xsd:string" />
				<xsd:attribute name="binPath" type="xsd:string" />
				<xsd:attribute name="queriesPath" type="xsd:string" />
			</xsd:extension> 
		</xsd:complexContent> 
	</xsd:complexType>
	
	<xsd:element name="applicationConfiguration" type="tApplicationConfiguration" substitutionGroup="configuration"/>
	<xsd:complexType name="tApplicationConfiguration" abstract="false">
		<xsd:complexContent> 
			<xsd:extension base="tConfiguration"> 
				<xsd:attribute name="indexPage" type="xsd:string" />
			</xsd:extension> 
		</xsd:complexContent> 
	</xsd:complexType>
	
	<xsd:element name="smtpConfiguration" type="tSmtpConfiguration" substitutionGroup="configuration"/>
	<xsd:complexType name="tSmtpConfiguration" abstract="false">
		<xsd:complexContent> 
			<xsd:extension base="tConfiguration"> 
				<xsd:attribute name="hostName" type="xsd:string" />
				<xsd:attribute name="ipv4" type="xsd:string" />
				<xsd:attribute name="port" type="xsd:integer" />
				<xsd:attribute name="user" type="xsd:string" />
				<xsd:attribute name="pwd" type="xsd:string" />
				<xsd:attribute name="textEncoding" type="tEncoding" />
			</xsd:extension> 
		</xsd:complexContent> 
	</xsd:complexType>
	
	<xsd:element name="oauth2Authorize" type="tOAuth2Authorize"/>
	<xsd:complexType name="tOAuth2Authorize" abstract="false">
		<xsd:complexContent>
				<xsd:attribute ref="client"  type="tOAuth2Client" minOccurs="1" maxOccurs="1"/>
				<xsd:attribute name="code" type="xsd:ID" />
				<xsd:attribute name="expiresIn " type="xsd:long" />
				<xsd:attribute name="scope" type="xsd:string" />
				<xsd:attribute name="redirectUri" type="xsd:anyURI" />
				<xsd:attribute name="state" type="xsd:string" />
				<xsd:attribute name="extra" type="xsd:byte" />
				<xsd:attribute name="createdAt " type="xsd:date" />
		</xsd:complexContent> 
	</xsd:complexType>
	
	<xsd:element name="oauth2Access" type="tOAuth2Access"/>
	<xsd:complexType name="tOAuth2Access" abstract="false">
		<xsd:complexContent>
				<xsd:attribute ref="client" type="tOAuth2Client" minOccurs="1" maxOccurs="1"/>
				<xsd:attribute ref="authorize" type="tOAuth2Authorize" minOccurs="1" maxOccurs="1"/>
				<xsd:attribute name="previous" type="xsd:string" />
				<xsd:attribute name="accessToken " type="xsd:ID" />
				<xsd:attribute ref="refreshToken " type="tOAuth2Refresh"  minOccurs="1" maxOccurs="1"/>
				<xsd:attribute name="expiresIn " type="xsd:long" />
				<xsd:attribute name="scope" type="xsd:string" />
				<xsd:attribute name="redirectUri" type="xsd:anyURI" />
				<xsd:attribute name="extra" type="xsd:byte" />
				<xsd:attribute name="createdAt " type="xsd:date" />
		</xsd:complexContent> 
	</xsd:complexType>
	
	<xsd:element name="oauth2Refresh" type="tOAuth2Refresh"/>
	<xsd:complexType name="tOAuth2Refresh" abstract="false">
		<xsd:complexContent>
				<xsd:attribute name="token" type="xsd:ID" />
				<xsd:attribute ref="access" type="tOAuth2Access" minOccurs="1" maxOccurs="1"/>
		</xsd:complexContent> 
	</xsd:complexType>
	
	<xsd:element name="oauth2Expires" type="tOAuth2Expires"/>
	<xsd:complexType name="tOAuth2Expires" abstract="false">
		<xsd:complexContent>
				<xsd:attribute name="id " type="xsd:ID" />
				<xsd:attribute ref="token" type="tOAuth2Refresh" minOccurs="1" maxOccurs="1"/>
				<xsd:attribute name="expiresAt " type="xsd:long"/>
		</xsd:complexContent> 
	</xsd:complexType>
	
	<xsd:element name="oauth2Client" type="tOAuth2Client"/>
	<xsd:complexType name="tOAuth2Client" abstract="false">
		<xsd:complexContent> 
				<xsd:attribute name="id" type="xsd:ID" />
				<xsd:attribute name="secret" type="xsd:string" />
				<xsd:attribute name="redirectUri" type="xsd:anyURI" />
				<xsd:attribute name="extra" type="xsd:byte" />
		</xsd:complexContent> 
	</xsd:complexType>
	
	<xsd:element name="oauth2Configuration" type="tOAuth2Configuration" substitutionGroup="configuration"/>
	<xsd:complexType name="tOAuth2Configuration" abstract="false">
		<xsd:complexContent> 
			<xsd:extension base="tConfiguration"> 
				<xsd:attribute name="authorizationExpiration" type="xsd:integer" />
				<xsd:attribute name="accessExpiration" type="xsd:integer" />
				<xsd:attribute name="tokenType" type="xsd:string" />
				<xsd:attribute name="errorStatusCode" type="xsd:integer" />
				<xsd:attribute name="allowClientSecretInParams" type="xsd:boolean" />
				<xsd:attribute name="allowGetAccessRequest" type="xsd:boolean" />
				<xsd:attribute name="requirePKCEForPublicClients" type="xsd:boolean" />
				<xsd:attribute name="redirectUriSeparator" type="xsd:string" />
				<xsd:sequence>
					<xsd:attribute name="allowedAuthorizeTypes" type="xsd:string" />
					<xsd:attribute name="allowedAccessTypes" type="xsd:string" />
					<xsd:attribute name="clients" type="tOAuth2Client" />
					<xsd:attribute name="expire" type="tOAuth2Expires" />
					<xsd:attribute name="refresh" type="tOAuth2Refresh" />
					<xsd:attribute name="access" type="tOAuth2Access" />
					<xsd:attribute name="authorize" type="tOAuth2Authorize" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent> 
	</xsd:complexType>

	<xsd:element name="dataStoreConfiguration" type="tDataStoreConfiguration" substitutionGroup="configuration"/>
	<xsd:complexType name="tDataStoreConfiguration" abstract="false">
		<xsd:complexContent> 
			<xsd:extension base="tConfiguration"> 
				<xsd:attribute name="hostName" type="xsd:string" />
				<xsd:attribute name="ipv4" type="xsd:string" />
				<xsd:attribute name="port" type="xsd:integer" />
				<xsd:attribute name="user" type="xsd:string" />
				<xsd:attribute name="pwd" type="xsd:string" />
				<xsd:attribute name="dataStoreType" type="tDataStoreType" />
				<xsd:attribute name="dataStoreVendor" type="tDataStoreVendor" />
				<xsd:attribute name="textEncoding" type="tEncoding" />
			</xsd:extension> 
		</xsd:complexContent> 
	</xsd:complexType>

	<xsd:element name="ldapConfiguration" type="tLdapConfiguration" substitutionGroup="configuration"/>
	<xsd:complexType name="tLdapConfiguration" abstract="false">
		<xsd:complexContent> 
			<xsd:extension base="tConfiguration"> 
				<xsd:attribute name="hostName" type="xsd:string" />
				<xsd:attribute name="ipv4" type="xsd:string" />
				<xsd:attribute name="port" type="xsd:integer" />
				<xsd:attribute name="user" type="xsd:string" />
				<xsd:attribute name="pwd" type="xsd:string" />
				<xsd:attribute name="domain" type="xsd:string" />
				<xsd:attribute name="searchBase" type="xsd:string" />
			</xsd:extension> 
		</xsd:complexContent> 
	</xsd:complexType>

	<xsd:element name="serviceConfiguration" type="tServiceConfiguration" substitutionGroup="configuration"/>
	<xsd:complexType name="tServiceConfiguration" abstract="false">
		<xsd:complexContent> 
			<xsd:extension base="tConfiguration"> 
				<xsd:attribute name="hostName" type="xsd:string" />
				<xsd:attribute name="ipv4" type="xsd:string" />
				<xsd:attribute name="port" type="xsd:integer" />
				<xsd:attribute name="user" type="xsd:string" />
				<xsd:attribute name="pwd" type="xsd:string" />
				<xsd:attribute name="start" type="xsd:boolean" />
			</xsd:extension> 
		</xsd:complexContent> 
	</xsd:complexType>
	
	<xsd:element name="configurations" type="tConfigurations"/>
	<xsd:complexType name="tConfigurations">
		<xsd:sequence>
			<xsd:element name="serverConfig" type="tServerConfiguration" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="applicationConfigs" type="tApplicationConfiguration" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="smtpConfigs" type="tSmtpConfiguration" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ldapConfigs" type="tLdapConfiguration" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="dataStoreConfigs" type="tDataStoreConfiguration" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="serviceConfigs" type="tServiceConfiguration" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="oauth2Configuration" type="tOAuth2Configuration" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="version" type="xsd:string"/>
	</xsd:complexType>

</xsd:schema>